<link rel="stylesheet" type="text/css" href="app/main/login/change-password/change-password.css">
<div id="simple-table" class="page-layout carded fullwidth single-scroll " style="background:url(assets/images/backgrounds/february.jpg) no-repeat;background-size: cover;">

    <!-- HEADER -->
     <div class="top-bg md-accent-bg "></div>

     <div class="center" layout="column">

        <!-- CONTENT HEADER -->
        <div class=" goal-header" layout="column">
            <div flex>
                <span class="h2 white-fg">Change Password</span>
            </div>


        </div>

      <style type="text/css">
          .background{
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 5px;
        }
        
      </style>

    <!-- CONTENT -->
    <div layout="row" layout-align="center center" >
        <div flex="60" flex-xs="100" class="mt-100 mr-40" layout="column" layout-align="start center" hide-xs >
            <div class="pv-30 ph-20 background">
                <div class="md-headline">
                    Steps to Change Password
                </div>
                <div class="md-subhead left_box">
                    <div layout="row" class="mv-10">
                        <DIV>
                        <md-icon md-font-icon="icon-arrow-right-bold-circle md-accent" class="s32"></md-icon>
                        </DIV>
                        <div class="pl-10 line-height-32" >Fill your Recent Password in the current Password field.</div>
                    </div>
                    <div layout="row" class="mv-10">
                        <DIV>
                        <md-icon md-font-icon="icon-arrow-right-bold-circle md-accent" class="s32"></md-icon>
                        </DIV>
                        <div class="pl-10 line-height-32">Type your new password in the New Password and Confirm Password fields.</div>
                    </div>
                    <div layout="row" class="mv-10">
                        <DIV>
                        <md-icon md-font-icon="icon-arrow-right-bold-circle md-accent" class="s32"></md-icon>
                        </DIV>
                        <div class="pl-10 line-height-32">Minimum Password length should be 6 characters.</div>
                    </div>
                    <div layout="row" class="mv-10">
                       <DIV>
                        <md-icon md-font-icon="icon-arrow-right-bold-circle md-accent" class="s32"></md-icon>
                        </DIV>
                        <div class="pl-10 line-height-32">Now click on the <strong>Change Password</strong> Button</div>
                    </div>
                    <div layout="row" class="mv-10">
                        <DIV>
                        <md-icon md-font-icon="icon-arrow-right-bold-circle md-accent" class="s32"></md-icon>
                        </DIV>
                         <div class="pl-10 line-height-32">After successful message, you can use your new password for your next login.</div>
                    </div>                
                </div>
            </div>
        </div>
        <div flex="40" flex-sm="100" flex-xs="100" class="content-card" layout="column" layout-align="center stretch">


            <div class="toolbar" layout="row" layout-xs="column" layout-align="start center">

                <div flex layout="row" layout-align="start center" class="pv-30 h3" >
                    <h3 class=" ">Change your password</h3>
                </div>
            </div>
            <md-content class="content" >
                 <form name="changePass" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <label class="font-size-18 font-weight-300 grey-600-fg">Current Password</label>
                    <input type="password" name="oldpass" ng-model="vm.changePass.oldpass" required >
                    <div ng-messages="changePass.oldpass.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span >Current password is required!</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label class="font-size-18 font-weight-300 grey-600-fg">New Password</label>
                    <input type="password" name="newpassword" ng-model="vm.changePass.newpassword" required ng-minlength="6" class="font-size-18 font-weight-600" >
                    <div ng-messages="changePass.newpassword.$error" role="alert">
                        <div ng-message="required">
                            <span>New password field is required</span>
                        </div>
                         <div ng-message="minlength">
                            <span>Minimum Password length should be 6 characters</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label class="font-size-18 font-weight-300 grey-600-fg">New Password (Confirm)</label>
                    <input type="password" name="passwordConfirm" ng-model="vm.changePass.passwordConfirm" required ng-pattern="vm.changePass.newpassword" class="font-size-18 font-weight-600 grey-600-fg" >
                    <div ng-messages="changePass.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            <span >Password (Confirm) field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Password do not match!</span>
                        </div>
                    </div>
                </md-input-container>
                <div layout="row">
                <md-button type="submit" class="md-raised md-accent submit-button ph-15 changePass" aria-label="UPDATE MY PASSWORD" ng-click="updateNewPass()" ng-disabled="changePass.$invalid || changePass.$pristine">
                    CHANGE PASSWORD
                </md-button>
                <md-progress-circular md-mode="indeterminate" ng-show="isLoading" md-diameter="20" class="mt-15"></md-progress-circular>
                <div class="red-fg font-size-14 mt-10">
                    <span>{{server_message}}</span>
                </div>
                </div>
            </form>
                </md-content>

            </div>
            <!-- / BASIC FORM -->
</div>

        </div>
    <!-- / CONTENT -->

</div>



<!--<div ng-include="'app/main/sample-login/sample-login.html'"></div>-->
