 .goal-header{
                height: 75px;
                min-height: 75px;
                max-height: 90px;
                padding: 24px;
            }
            .page-layout .top-bg{
                height: 139px;
            }