<div class="page-layout carded fullwidth single-scroll pb-30" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" flex>

        <!-- CONTENT HEADER -->
        <div class="goal-header" layout="column">
            <div flex>
              <span class="h2 white-fg">Visualizations</span>
            </div>

            <!--
            <div class="breadcrumb" flex>
                <md-icon md-font-icon="icon-dns" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">LIST DATA</span>
            </div>
            -->
        </div>
        <!-- / CONTENT HEADER -->
 <style type="text/css">

    .goal-header{
            height: 75px;
    min-height: 75px;
    max-height: 90px;
    padding: 24px;

    }
    .page-layout .top-bg{
                    height: 139px;
                }

            </style>
        <!-- CONTENT CARD -->
        <div class="content-card">
        
            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-xs="column" layout-align="start center">
                <div flex layout="row" layout-align="start center" class="pv-30 h3" hide-xs>
                    <h3 class=" ">Add New Visualizations</h3>
                </div>
                <!-- <div flex layout="row" layout-align="center center" class="ph-40">
                    <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="s18" style="background-color: yellow;border-radius: 100%;color: yellow; border:1px solid #000;"></md-icon>
                    <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="s18" style="background-color: green;border-radius: 100%;color: green;"></md-icon>
                    <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="s18"></md-icon>
                </div> --> 
                <div >
                   
                  <!--   <div flex layout="row" layout-align="center center" class="ph-40"> 
                        <div layout="row" layout-align="center center" class="white-fg teal-bg line-height-24 text-center " style="width:24px;border-radius: 50%;">
                        1
                        </div>
                        <div layout="row" layout-align="center center" class="md-accent-bg line-height-24 text-center mh-20" style="width:24px;border-radius: 50%;">
                        2
                        </div>
                        <div layout="row" layout-align="center center" class="md-accent-bg line-height-24 text-center" style="width:24px;border-radius: 50%;">
                        3
                        </div>
                    </div> -->


                <!--     <div flex layout="row" layout-align="center center" class="ph-40">
                        <div layout="row" layout-align="center center" class="md-accent-bg line-height-24 text-center " style="width:24px;border-radius: 50%;">
                        1
                        </div>
                        <div layout="row" layout-align="center center"  >
                            <md-icon  md-font-icon="icon-check" class="white-fg green-bg line-height-24 text-center mh-20" style="width:24px;border-radius: 50%;font-size:16px"></md-icon>
                        </div>
                        
                        <div layout="row" layout-align="center center" class="md-accent-bg line-height-24 text-center" style="width:24px;border-radius: 50%;">
                        3
                        </div>
                    </div>  -->

                    
                  <!--   <div flex layout="row" layout-align="center center" class="ph-40">
                        
                        <div layout="row" layout-align="center center" class="md-accent-bg line-height-24 text-center " style="width:24px;border-radius: 50%;">
                        1
                        </div>
                        <div layout="row" layout-align="center center" class="md-accent-bg line-height-24 text-center mh-20" style="width:24px;border-radius: 50%;">
                        2
                        </div>
                        <div layout="row" layout-align="center center"  >
                            <md-icon  md-font-icon="icon-check" class="white-fg green-bg line-height-24 text-center" style="width:24px;border-radius: 50%;font-size:16px"></md-icon>
                        </div>
                    </div> -->
                </div>
                <div flex layout="row" layout-align="end center">
                    <a href="visualizations/list">
                        <md-button class=" md-accent md-raised ph-15">All Visualizations</md-button>
                    </a>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
            <md-content class="ph-24 pb-30" ms-scroll>
                <!-- CONTENT -->
                <div layout="row" layout-align="center center" class="">
                    <div class="ph-20 pv-10 md-button" layout="row" layout-align="center center" >
                        <md-tooltip md-direction="top" >Step 1: Fill the form below and click on CREATE VISUALIZATION button to create visualization</md-tooltip>
                        <div>
                            <div layout="row" layout-align="center center" class="md-accent-bg line-height-24 text-center" style="width:24px;border-radius: 50%;">
                            1
                            </div>
                        </div>
                        <div class="mh-5 md-subhead">
                            Add Visualization
                        </div>
                        
                    </div>
                    <div class="ph-20 pv-10 md-button" layout="row" layout-align="center center" ng-click="null">
                        <md-tooltip md-direction="top" >Step 2: ...</md-tooltip>
                        <div>
                            <div layout="row" layout-align="center center" class="grey-400-bg white-fg line-height-24 text-center" style="width:24px;border-radius: 50%;">
                            2
                            </div>
                        </div>
                        <div class="mh-5 md-subhead grey-700-fg">
                            Edit Visualization
                        </div>
                        
                    </div>
                    <div class="ph-20 pv-10 md-button" layout="row" layout-align="center center" ng-click="null">
                        <md-tooltip md-direction="top" >Step 3: ...</md-tooltip>
                        <div>
                            <div layout="row" layout-align="center center" class="grey-400-bg white-fg line-height-24 text-center" style="width:24px;border-radius: 50%;">
                            3
                            </div>
                        </div>
                        <div class="mh-5 md-subhead grey-700-fg">
                            View Visualization
                        </div>
                        
                    </div>
                  
                </div>
                <div>

                    <form layout="row" layout-wrap name="visual">
                        <md-input-container flex="100">
                            <label class="font-size-18 font-weight-300">Visualization Name</label>
                            <input ng-model="visualization.visualization_title" required name="visual_name">

                            <div ng-messages="visual.visual_name.$error" role="alert" multiple>
                                <div ng-message="required">
                                    <span>Visualization name field is required</span>
                                </div>
                            </div>
                        </md-input-container >


                        <md-input-container class="md-block" flex="100">
                                 <label class="font-size-24 font-weight-300">Visualization Dataset</label>
                                 <md-select ng-model="dataset_id" required name="datasetList">
                                     <md-option ng-repeat="dataset in vm.datasets" value="{{dataset.dataset_id}}" ><!-- ng-if="dataset.validated == 1" -->
                                             {{dataset.dataset_name}}
                                    </md-option>
                                 </md-select>
                                 <div ng-messages="visual.datasetList.$error" role="alert" multiple>
                                    <div ng-message="required">
                                        <span>Dataset field is required</span>
                                    </div>
                                </div>
                        </md-input-container>



                        <md-button type="submit" class="md-raised md-accent submit-button ph-15" aria-label="CREATE VISUALIZATION" ng-disabled="visual.$invalid || visual.$pristine" ng-click="create_visualization()">CREATE VISUALIZATION</md-button><md-progress-circular md-mode="indeterminate" md-diameter="20" ng-show="isLoading"></md-progress-circular>
                        </div>
                    </form>
                </div>
                <!-- /CONTENT -->
            </md-content>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
