<link rel="stylesheet" type="text/css" href="app/main/login/forgot-password/forgot-password.css">
<div id="simple-table" class="page-layout carded fullwidth single-scroll " style="background:url(assets/images/backgrounds/september.jpg) no-repeat;background-size: cover;">

    <!-- HEADER -->
     <div class="top-bg md-accent-bg "></div>

     <div class="center" layout="column">

        <!-- CONTENT HEADER -->
        <div class=" goal-header" layout="column">
            <div flex>
                <span class="h2 white-fg">Reset Password</span>
            </div>


        </div>

        
    <style type="text/css">
        .background{
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 5px;
        }
         a{
            text-decoration:none !important;
        }
    </style>
    <!-- CONTENT -->
    <div layout="row" layout-align="center center" >
        <div flex="60" flex-xs="100" class="mt-100 mr-40" layout="column" layout-align="start center" hide-xs >
            <div class="pv-30 ph-20 background">
                <div class="md-headline">
                    How to Reset your Password ?
                </div>
                <div class="md-subhead left_box">
                    <div layout="row" class="mv-10">
                        <DIV>
                        <md-icon md-font-icon="icon-arrow-right-bold-circle md-accent" class="s32"></md-icon>
                        </DIV>
                        <div class="pl-10 line-height-32" >Please fill the Reset password form and click on <strong>Get Password</strong> button.</div>
                    </div>
                    <div layout="row" class="mv-10">
                        <DIV>
                        <md-icon md-font-icon="icon-arrow-right-bold-circle md-accent" class="s32"></md-icon>
                        </DIV>
                        <div class="pl-10 line-height-32">On successful Submission of form you will get an email with Reset password link.</div>
                    </div>
                    <div layout="row" class="mv-10">
                       <DIV>
                        <md-icon md-font-icon="icon-arrow-right-bold-circle md-accent" class="s32"></md-icon>
                        </DIV>
                        <div class="pl-10 line-height-32">Click on that link to create your new password.
</div>
                    </div>
                               
                </div>
            </div>
        </div>
        <div flex="40" flex-sm="70" flex-xs="100" class="content-card" layout="column" layout-align="center stretch">

            <div class="toolbar" layout="row" layout-xs="column" layout-align="start center">

                <div flex layout="row" layout-align="start center" class="pv-30 h3">
                    <h3 class="font-size-18">Reset Your Password</h3>
                </div>
            </div>
            <md-content class="content" >
            <form name="resetPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                <label class="font-size-18 font-weight-300 grey-600-fg">Email</label>
                <input type="email" name="email" ng-model="vm.email" 
                           translate 
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="resetPasswordForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="LOGIN.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="LOGIN.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>

                </md-input-container>
                <div layout="row">
                <md-button type="submit" class="md-raised md-accent submit-button ph-15" aria-label="UPDATE MY PASSWORD" ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine" ng-click="getNewPass()" >
                    GET PASSWORD
                </md-button>
                <md-progress-circular md-mode="indeterminate" ng-show="isLoading" md-diameter="20" class="
                mt-15"></md-progress-circular>
                <span  class="red-fg font-size-14 mt-15">{{error_message}}</span>
                </div>
            </form>
            
            </md-content>
            <md-divider></md-divider>
            <div layout="row" layout-align="center center">
                <md-button class="md-accent md-raised ph-30 mv-20" ng-click="back()">Go Back</md-button>
                <div class="md-subhead font-weight-400 mh-10">OR</div>
                <md-button class="md-accent md-raised ph-30 mv-20" ui-sref="app.dashboard">Dashboard</md-button>
            </div>

            </div>
</div>
</div>
</div>
