.bg-img{
	background-image: url(/smaartframework.com/map/map_dotted.png);
	background-size: 100%;
   
}
.tm-fullwidth{
	padding: 40px 0 50px 0;
    background-color: rgba(20, 20, 20, 0.8);
	color:#fff;
}
.tm-title{ 
	text-align: center;
}
.tm-title>p{
	margin-top: 10px;
	margin-bottom: 10px;
}
.tm-center{
	margin: 0 auto;
}

.tm-half-div{
	margin: 0 auto;
	width:60%;
	padding: 30px 0; 
}
.tm-image{
	float:left;
	width: 20%;
	text-align: center;
	
}
.owl-carousel .owl-item .tm-image > img{
	border:1px solid #e8e8e8;
	border-radius: 50%;
	width:100px;
	height:100px;
}
.tm-text{
	float:right;
	width:76%;
}
.owl-carousel .owl-item  .tm-text img{
	width:28px;
	height:24px;
}
.tm-post-name{
	font-size: 16px;
	font-weight:800;
}
.tm-post-designation{
	color:#fcd141;
	font-size: 14px;
	font-weight:200;
}
