
<div class="page-layout carded fullwidth single-scroll pb-30" layout="row">

    <div class="top-bg md-accent-bg "></div>

    <div class="center " flex>

        <div class=" goal-header" layout="column">
            <div flex>
                <span class="h2 white-fg">View survey data</span>
            </div>


        </div>
  
        <div class="content-card">

            <style type="text/css">
                
            </style>
            <div class="toolbar" layout="row" layout-xs="row" layout-align="start center">

                <div flex="20" layout="row" layout-align="start center" class="pv-30 h3" hide-xs>
                   
                </div>
                <div flex ng-controller="EditSurveyController">
                    <!-- <a ui-sref="survey/add" id="">
                        <md-button class=" md-accent md-raised ph-15" aria-label="all surveys"><md-tooltip md-direction="top" class="md-body-1">Add a new survey </md-tooltip>Add new survey</md-button>
                    </a>
                    <a href="survey/add">
                        <md-button class=" md-accent md-raised ph-15" aria-label="all surveys"><md-tooltip md-direction="top" class="md-body-1">Edit this survey</md-tooltip>Edit Survey</md-button>
                    </a>
                    <a href="survey/list">
                        <md-button class=" md-accent md-raised ph-15" aria-label="all surveys"><md-tooltip md-direction="top" class="md-body-1">view list of all surveys </md-tooltip>All Surveys</md-button>
                    </a>
                    <a href="survey/list">
                        <md-button class=" md-accent md-raised ph-15" aria-label="all surveys"><md-tooltip md-direction="top" class="md-body-1">Mange Questions </md-tooltip>Edit Manage Questions</md-button>
                    </a> -->
                     <div layout="row"  ng-include="'/app/main/survey/_include.html'"></div>
                </div>
               
                     

                  
               
    
            </div>


            <!-- CONTENT -->
            <md-content class="content" >
                <md-button class="ph-15 md-accent md-raised" ng-click="next(nextPage)"  style="float:right;" ng-show="total_records > totalLimit">Next Records</md-button><md-progress-circular md-mode="indeterminate" ng-show="isLoadingNext" md-diameter="20" style="float:right;margin-top: 1.3%;"></md-progress-circular>
                
    
                <md-button class="ph-15 md-accent md-raised" ng-click="prev(prevPage)"  style="float:left;" ng-show="total_records > totalLimit">Previous Records</md-button>
                <md-progress-circular md-mode="indeterminate" ng-show="isLoadingPrev" md-diameter="20" style="float:left;margin-top: 1.3%;"></md-progress-circular>
                <hot-table settings="settings"
                           row-headers="true"
                           col-headers="true"
                           min-spare-rows="minSpareRows"
                           datarows="items"
                           height="500"
                           hot-id="my-handsontable">
                        <hot-column data="{{key}}" title="key" ng-repeat="(key, item) in items[0]"></hot-column>
                </hot-table>
            </md-content>
        </div>


    </div>


</div>
