.dataTables_wrapper .top {
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 24px 0;
}
.goal-header{
    height: 75px;
    min-height: 75px;
    max-height: 90px;
    padding: 24px;

}

.dataTables_wrapper .dataTables_filter input{
    width: 225px;
}
.page-layout .top-bg{
    height: 139px;
}
.dataTables_wrapper .top {
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 24px 0;
}
.dataTables_wrapper .top .left .length .dataTables_length select {
    height: 32px;
    padding: 0 15px;
    border: 1px solid #e8e8e8;
    border-radius: 0px;
}