<link rel="stylesheet" type="text/css" href="app/main/login/new-password/new-password.css">
<div id="simple-table" class="page-layout carded fullwidth single-scroll ">


    <!-- HEADER -->
     <div class="top-bg md-accent-bg "></div>

     <div class="center" layout="column">

        <!-- CONTENT HEADER -->
        <div class=" goal-header" layout="column">
            <div flex>
                <span class="h2 white-fg"></span>
            </div>


        </div>

       

    <!-- CONTENT -->
    <div layout="row" layout-align="center center" >
        <div flex="40" flex-sm="70" flex-xs="100" class="content-card" layout="column" layout-align="center stretch">



        <!-- <div class="md-title mt-32">Basic form with validation</div>
        <div class="pb-16">With this form example, Submit button will only be activated if all the required fields are
            filled and if there is no error on the form.
        </div> -->
        <!--<div layout="column">-->

            <!-- BASIC FORM -->
            <!--<div class="form-wrapper md-whiteframe-1dp" flex="100">-->


                <!-- <input type="file" id="file1" name="file" multiple
            ng-files="getTheFiles($files)" />


        <input type="button" ng-click="uploadFiles()" value="Upload" /> -->
       <!-- <h1 style="color:red"> {{add_replace}} {{file}}</h1>-->

                    <!--<div id="form_data" class="form-title">Import Tables</div>-->
            <div class="toolbar" layout="row" layout-xs="column" layout-align="start center">

                <div flex layout="row" layout-align="start center" class="pv-30 h3">
                    <h3 class=" ">Enter New Password</h3>
                </div>
            </div>
            <md-content class="content" >
            <form name="newPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password"  ng-model="vm.newPasswordForm.password"  placeholder="New Password" required ng-minlength="6">
                   
                   <div ng-messages="newPasswordForm.password.$error" role="alert">
                       <div ng-message="required">
                            <span>Password is Required</span>
                        </div>
                        <div ng-message="minlength">
                            <span>Minimum Password length should be 6 characters</span>
                        </div>
                   </div>

                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                <input type="password" name="confpassword" ng-model="vm.newPasswordForm.confpassword" placeholder="Confirm Password" ng-pattern="vm.newPasswordForm.password" required>
                     
                    <div ng-messages="newPasswordForm.confpassword.$error" role="alert">
                       <div ng-message="required">
                                <span>Re-Enter the Password</span>
                        </div>
                        <div ng-message="pattern">
                                <span>Passwords do not match!</span>
                        </div>
                             
                   </div>

                </md-input-container>
                <div layout="row">
                <md-button type="submit" class="md-raised md-accent submit-button ph-15" aria-label="UPDATE MY PASSWORD" ng-disabled="newPasswordForm.$invalid || newPasswordForm.$pristine" ng-click="proceed()"  ng-disabled="isDisables">
                    proceed
                </md-button>
                <md-progress-circular md-mode="indeterminate" ng-show="isLoading" md-diameter="20" class="mt-15"></md-progress-circular><span class="red-fg font-size-14 mt-15">{{error_message}}</span>
                </div>
            </form>
            
                </md-content>

            </div>
</div>
</div>
</div>
